.product-preview-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    font-size: 12px;
    overflow: hidden;
}

.product-preview-card .header-image {
    content: url("./images/image-product-mobile.jpg");
    width: 100%;

}

.product-preview-card .content {
    display: flex;
    flex-direction: column;
    margin: 3% 4%;
}

.product-preview-card .type {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1em;
    margin: 1% 0;
}

.product-preview-card .title {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-size: 2em;
    font-weight: 700;
}

.product-preview-card .description {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    line-height: 2em;
    font-size: 1em;
}

.product-preview-card .checkout {
    display: flex;
    flex-direction: column;
}

.product-preview-card .price {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 5% 0;
    max-height: 40px;
}


.product-preview-card .price .discount {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2em;
    color: hsl(158, 36%, 37%)
}

.product-preview-card .price .true {
    font-family: Montserrat;
    font-size: 1em;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-left: 6%;
}

.product-preview-card .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5%;
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 16px;
}

.product-preview-card .cart-icon {
    content: url("./icons/icon-cart.svg");
    width: 1.4em;
    margin: 0 4%;
}

@media screen and (min-width: 615px) {
    .product-preview-card {
        flex-direction: row;
        font-size: 13px
    }

    .product-preview-card .header-image {
        content: url(./images/image-product-desktop.jpg);
        height: 100%;
        width: auto;
        max-height: none;
    }
}